<ion-view title="{{ 'TAB1' | translate }}" hide-nav-bar="true" hide-tabs>
  <ion-pane>
    <div ng-app="starter" >
   
  <ion-content padding="true" style="display: flex; align-items: center; justify-content: center;" overflow-scroll="false">
      <style type="text/css">
        input[readonly] {
          background-color: transparent !important;
          cursor: not-allowed;
        }

      </style>
    <div style="text-align: center">
     
      
         <!--<div>
          <a href="#/app/account" class="button button-block button-positive"  style="width: 25%">
            <img style="margin-top: 5%" src="./img/click.png" >
            <ion-nav-view name="tab-account"></ion-nav-view>
          </a>-->
          <!--<a ng-show="connectedyet" href="#/app/browse" class="button button-block button-positive"><i class="icon ion-log-in"></i> Bienvenue</a>-->
       <!--</div> --> 
      <img src="./img/LogoYUP.png" style="width:70%; height: 20%;">
      <p>

        <div>
          <a href="#/app/login1" class="button button-block button-positive"><i class="icon ion-log-in"></i>{{ 'btn_conn' | translate }}</a>
          <!--<a ng-show="connectedyet" href="#/app/browse" class="button button-block button-positive"><i class="icon ion-log-in"></i> Bienvenue</a>-->
        </div>
        &copy YUP
      </p>
      <br>
      <img src="./img/sgbs.png" style="width:40%;">
    </div> 
    <br/>
    <ion-footer >
    <div style="text-align: center"> 
    <p>
      Version 1.2.15-test
     
    </p>
        
    </div>
    <div style="text-align: center"> 
        <p>
          <a  href="#/app/compte">
            <img style="float: right" src="./img/click.png" >
          </a>
          
        </p>
        </div>
    </ion-footer>
  </ion-content>

  <script id="templates/modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Guide</h1>
      </ion-header-bar>
      <ion-content class="bg" >
        
      </ion-content>
    </ion-modal-view>
  </script>
</div>
</ion-pane>
</ion-view>
