<ion-view view-title="{{ 'header_list_pvt' | translate }}" cache-view="false">

    <ion-pane>
        <div ng-app="starter">
            <ion-content>
                <style type="text/css">
                    input[readonly] {
                        background-color: transparent !important;
                        cursor: not-allowed;
                    }
                </style>
                <div ng-if="data.hide">
                    <div class="item item-body" ng-if="data.profile=='super'">
                        <button class="button button-block button-dark"
                            cancel-button="{{ 'fichevisite_select_pv_return' | translate }}"
                            reset-button="{{ 'fichevisite_select_pv_cancel' | translate }}"
                            cancel-search-button="{{ 'fichevisite_select_pv_clear' | translate }}"
                            search-placeholder="{{ 'fichevisite_select_pv_search' | translate }}" modal-select=""
                            ng-model="data.payschoisit" on-select="refreshregion()" options="data.listpays"
                            modal-button-left="{{ 'fichevisite_select_pv_return' | translate }}"
                            option-getter="getOptPays(option)" modal-title="Selection" has-search="true">
                            {{ 'label_choix_pays' | translate }}
                            <div class="option">
                                <h2>{{option.name}}</h2>

                            </div>

                        </button>
                    </div>
                    <div class="item" style="color: #222222;font-weight: bolder">
                        {{ 'label_pays' | translate }} : <b style="color: rgb(112, 17, 17);float: right ;"
                            ng-if="data.payschoisit!=null">{{data.payschoisit.name}}</b>
                    </div>
                    <div class="item item-body" ng-if="data.payschoisit!=null">
                        <button ng-if="data.payschoisit!=null" class="button button-block button-dark"
                            cancel-button="{{ 'fichevisite_select_pv_return' | translate }}"
                            reset-button="{{ 'fichevisite_select_pv_cancel' | translate }}"
                            cancel-search-button="{{ 'fichevisite_select_pv_clear' | translate }}"
                            search-placeholder="{{ 'fichevisite_select_pv_search' | translate }}" modal-select=""
                            ng-model="data.zonechoisit" on-select="listPvParZone()" options="data.listZones"
                            option-getter="getOptRegion(option)"
                            modal-button-left="{{ 'fichevisite_select_pv_return' | translate }}" modal-title="Selection"
                            has-search="true">
                            {{ 'pv_choix_zone' | translate }}
                            <div class="option">
                                <h2> {{option.name}}</h2>
                            </div>
                        </button>
                    </div>
                    <div ng-if="data.zonechoisit!=null" class="item" style="color: #222222;font-weight: bolder">
                        <u ng-if="data.zonechoisit!=null">{{ 'pv_label_zone' | translate }} :</u> <b
                            style="color: rgb(112, 17, 17);float: right ;"
                            ng-if="data.zonechoisit!=null">{{data.zonechoisit.name}}</b>
                    </div>

                </div>
                <div style="margin-left: 50%;">
                    <i class="icon ion-arrow-down-b icon-assertive" ng-click="hidePaysRegions()"></i>
                </div>

                <div class="item card ">
                    <input type="text" style="width:88%;float:left" ng-model="motcle"
                        placeholder="Rechercher un point de vente ...">
                </div>
                <ion-list ng-repeat="item in data.listpointvente | filter:motcle">

                    <a class="item item-icon-left" ng-click="goToPlusInfoPv(item)">
                        <i class="icon ion-home" style="margin-right: 20px;"></i>
                        <h2>{{item.pointVente}}</h2>
                        <p style="color: rgb(155, 20, 20);">{{item.codePointVente}}</p>
                    </a>
                </ion-list>




            </ion-content>

        </div>
      <nav class="container"  >
        <a class="buttonsmd" style="margin-bottom: 50%" ng-click="goToPlusInfoPv(null)">
          <i class="icon ion-plus-round" style="color: white;margin-left: 40%;"></i>
        </a>


      </nav>
    </ion-pane>

</ion-view>

<!--<body>
<h1>Simple Share FAB</h1>
<p class="credits">
  <a href="https://codepen.io/koenigsegg1" target="_blank" >
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/343394/profile/profile-80_3.jpg" /></a><br />Pen by Kyle Lavery (@koenigsegg1)</p>

<nav class="container"  >

  <a href="#" class="buttonsmd" tooltip="Google+"></a>

  <a href="#" class="buttonsmd" tooltip="Twitter"></a>

  <a href="#" class="buttonsmd" tooltip="Facebook"></a>

  <a class="buttonsmd" tooltip="Share" href="#"></a>

</nav>

</body>-->

