<ion-view view-title="{{ 'header_point_de_vente' | translate }}" cache-view="false">
    <ion-pane>
        <div ng-app="starter">
            <ion-content>
                <style type="text/css">
                    input[readonly] {
                        background-color: transparent !important;
                        cursor: not-allowed;
                    }
                </style>
                <ul class="list">
                    <div class="item"
                        ng-click="showPopup('{{ 'pv_client' | translate }}','client','{{pointvent.client}}')">
                        <i style="color: #222222;font-weight: bolder">{{ 'pv_client' | translate }} </i>
                        <i style="float: right ;">{{pointvent.client}}</i>
                    </div>
                    <div class="item"
                        ng-click="showPopup('{{ 'pv_email' | translate }}','email','{{pointvent.email}}')">
                        <i style="color: #222222;font-weight: bolder">{{ 'pv_email' | translate }} </i>
                        <i style="float: right ;">{{pointvent.email}}</i>
                    </div>
                    <div class="item"
                        ng-click="showPopup('{{ 'pv_pointvente' | translate }}','pointvent','{{pointvent.pointVente}}')">
                        <i style="color: #222222;font-weight: bolder">{{ 'pv_pointvente' | translate }} </i>
                        <i style="float: right ;">{{pointvent.pointVente}}</i>
                    </div>
                    <div class="item"
                        ng-click="showPopup('{{ 'pv_codeAgent' | translate }}','codeAgent','{{pointvent.codePointVente}}')">
                        <i style="color: #222222;font-weight: bolder">{{ 'pv_codeAgent' | translate }}</i>
                        <i style="float: right ;">{{pointvent.codePointVente}}</i>
                    </div>
                    <div class="item"
                        ng-click="showPopup('{{ 'pv_adresse' | translate }}','adresse','{{pointvent.adresse}}')">
                        <i style="color: #222222;font-weight: bolder">{{ 'pv_adresse' | translate }}</i>
                        <i style="float: right ;">{{pointvent.adresse}}</i>
                    </div>
                    <div class="item item-input item-select" style="color: #222222;font-weight: bolder"
                        ng-click="showPopupSelect('{{ 'pv_typedepoint' | translate }}','typepointvente','{{pointvent.typePointVente.libelle}}')">
                        {{ 'pv_typedepoint' | translate }}
                        <b style="color: rgb(112, 17, 17);float: right;margin-left: 40px;" class="input-label">
                            {{pointvent.typePointVente.libelle}}</b>
                    </div>
                    <div class="item item-input item-select" style="color: #222222;font-weight: bolder"
                        ng-click="showPopupSelectRegion('{{ 'pv_Region' | translate }}','region','{{data.regionpointvent.region}}')">
                        {{ 'pv_Region' | translate }}
                        <b style="color: rgb(112, 17, 17);float: right;margin-left: 40px;" class="input-label">
                            {{data.regionpointvent.region}}
                        </b>

                    </div>
                    <div class="item item-input item-select" style="color: #222222;font-weight: bolder"
                        ng-click="showPopupSelectVille('{{ 'pv_ville' | translate }}','ville','{{pointvent.ville.ville}}')">
                        {{ 'pv_ville' | translate }}
                         <b style="color: rgb(112, 17, 17);float: right;margin-left: 40px;"
                            class="input-label">
                            {{pointvent.ville.ville}}
                        </b>
                    </div>
                    <div class="item item-input item-select" style="color: #222222;font-weight: bolder"
                        ng-click="showPopupSelectZone('{{ 'pv_zone' | translate }}','zone','{{pointvent.zone.libelle}}')">
                        {{ 'pv_zone' | translate }} 
                        <b style="color: rgb(112, 17, 17);float: right ;margin-left: 40px;"
                            class="input-label">
                            {{pointvent.zone.libelle}}
                        </b>

                    </div>

                    <div class="item"
                        ng-click="showPopup('{{ 'pv_telephone' | translate }}','telephone','{{pointvent.telephone}}')">
                        <i style="color: #222222;font-weight: bolder">{{ 'pv_telephone' | translate }}</i>
                        <i style="float: right ;">{{pointvent.telephone}}</i>
                    </div>
                    <div class="item">
                        <i class="icon ion-ios-location" ng-click="popUPMethode('maj gps')"></i>
                        ({{pointvent.latitude}}, {{pointvent.longitude}})<i style="color: red;"
                            class="icon ion-ios-close" ng-click="popUPMethode('cancel gps')" ng-if="hideCancel"></i>
                        <!--<i style="float: right ; font-weight: bold;" ng-click="popUPMethode('maj gps')" >{{ 'pv_coordonnees' | translate }}</i>-->
                    </div>

                </ul>

                <style>
                    /* Always set the map height explicitly to define the size of the div
                      * element that contains the map. */
                    #mapf {
                        height: 200px;
                        margin: 5px;
                    }
                </style>
                <div id="mapf" data-tap-disabled="true"></div>
                <button style="float: right;margin-right: 20px;" ng-click="savePointVente()" class="button button-assertive">
                    Valider
                </button>
                <!-- <button class="button button-dark" ng-click="showPopup()">
                    show
                  </button>-->
            </ion-content>
        </div>
    </ion-pane>
</ion-view>