<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->

<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-style="buttonleft">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <a id="buttonright" href="#/app/compte" class="button button-icon button-clear ion-ios-cog" ng-style="buttonleft">
        </a>
        <ion-icon name="pin"></ion-icon>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu  side="left">
    <ion-header-bar class="bar-assertive">
      <h1 class="title">YUP SPOT</h1>
      <a id="buttonright" ng-click="majStat()" class="button button-icon button-clear ion-settings" ng-style="buttonleft">
      </a>
    </ion-header-bar>
    
    <ion-content>
      
      <ion-list ng-show="menu">

        <ion-item   menu-close href="#/app/bienvenue">
          <i class="icon ion-home"></i> &nbsp;{{ 'menu_acceuil' | translate }}
        </ion-item>

        <ion-item  menu-close href="#/app/fichevisite">
          <i class="icon ion-plus-circled"></i> &nbsp;{{ 'menu_addfiche' | translate }}
        </ion-item>

        <ion-item  menu-close href="#/app/prospects">
          <i class="icon ion-plus"></i> &nbsp;{{ 'menu_addprospect' | translate }}
        </ion-item>
        <ion-item  menu-close href="#/app/nouveaupointdevent">
          <i class="icon ion-plus"></i> &nbsp;{{ 'menu_addpointvent' | translate }}
        </ion-item>

        <!--<ion-item  menu-close href="#/app/sondages">
          <i class="icon ion-speakerphone"></i> &nbsp;{{ 'menu_sondage' | translate }}
        </ion-item>-->

        <ion-item  menu-close href="#/app/mesfiches">
          <i class="icon ion-ios-list"></i> &nbsp;{{ 'menu_mesfiches' | translate }}
        </ion-item>

        <ion-item  menu-close href="#/app/mesprospects">
          <i class="icon ion-ios-list"></i> &nbsp;{{ 'menu_mesprospects' | translate }}
        </ion-item>
        <ion-item  menu-close href="#/app/listpointvente">
          <i class="icon ion-ios-list"></i> &nbsp;{{ 'header_list_pvt' | translate }}
        </ion-item>
        <ion-item  menu-close href="#/app/maps">
          <i class="icon ion-ios-location"></i> &nbsp;{{ 'menu_mespoints' | translate }}
        </ion-item>

       <!-- <ion-item  menu-close href="#/app/medias">
          <i class="icon ion-ios-film-outline"></i> &nbsp;{{ 'menu_mediatheque' | translate }}
        </ion-item>

        <ion-item  menu-close href="#/app/qrcode">
          <i class="icon ion-qr-scanner"></i> &nbsp;{{ 'menu_Qrcode' | translate }}
        </ion-item>

        <ion-item  menu-close href="#/app/image">
          <i class="icon ion-image"></i> &nbsp;{{ 'menu_photo' | translate }}
        </ion-item>-->

        <ion-item  menu-close href="#/app/compte">
          <i class="icon ion-person"></i> &nbsp;{{ 'menu_moncompte' | translate }}
        </ion-item>
        

        <ion-item menu-close href="#/app/logout">
          <i class="icon ion-log-out"></i> &nbsp;{{ 'menu_sedeconnecter' | translate }}
        </ion-item>

      </ion-list>
     
      
    </ion-content>
    
  </ion-side-menu>
<ion-side-menu ng-show="menutab" side="left">
    
    <ion-tabs class="tabs-icon-bottom">

        <ion-tab ng-click="majStat()" title="{{ 'TAB1' | translate }}"  icon="icon ion-home" href="#/app/acceuil">
          <ion-nav-view name="tab-dash"></ion-nav-view>
        </ion-tab>
      
        <ion-tab title="{{ 'TAB3' | translate }}" icon="icon ion-gear-b" href="#/app/account">
          <ion-nav-view name="tab-account"></ion-nav-view>
        </ion-tab>
      
    </ion-tabs>
</ion-side-menu>
</ion-side-menus>


