/* Empty. Add your own CSS if you like */

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}
.login-form .item {
  border-width: 0;
  overflow: visible;
  text-overflow: inherit;
  white-space: normal;
}

.login-form .item-input {
  margin-top: 24px;
  border-width: 0 0 1px 0;
}

.login-form .item-input>input+button.activated {
  opacity: 1;
}

.login-form .item-input>input+button>i {
  font-size: 24px;
}
@-webkit-keyframes clignote {
  0%{box-shadow:0px 0px 10px rgb(112, 17, 17);}
  50%{box-shadow:0px 0px 0px rgb(112, 17, 17);}
  100%{box-shadow:0px 0px 10px rgb(112, 17, 17);}
  }

  .boutonarticle{
    font-weight: bold;
    width: 20%;
    text-shadow: 0 1px 0 white;
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid #DDD;
    box-shadow:0px 0px 10px rgb(112, 17, 17);
    -webkit-animation-name: clignote;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count:infinite;
    }
    .animated.modal.bounceIn.ng-leave {
      -webkit-animation-name:bounceOut;
      animation-name:bounceOut;
  }
  .animated.modal.bounceInDown.ng-leave {
      -webkit-animation-name:bounceOutUp;
      animation-name:bounceOutUp;
  }
  .animated.modal.bounceInLeft.ng-leave {
      -webkit-animation-name:bounceOutLeft;
      animation-name:bounceOutLeft;
  }
  .animated.modal.bounceInRight.ng-leave {
      -webkit-animation-name:bounceOutRight;
      animation-name:bounceOutRight;
  }
  .animated.modal.bounceInUp.ng-leave {
      -webkit-animation-name:bounceOutDown;
      animation-name:bounceOutDown;
  }

  .animated.modal.bounceOut.ng-leave {
      -webkit-animation-name:bounceOut;
      animation-name:bounceOut;
  }

  .animated.modal.fadeIn.ng-leave {
      -webkit-animation-name:fadeOut;
      animation-name:fadeOut;
  }
  .animated.modal.fadeInDown.ng-leave {
      -webkit-animation-name:fadeOutDown;
      animation-name:fadeOutDown;
  }
  .animated.modal.fadeInDownBig.ng-leave {
      -webkit-animation-name:fadeOutDownBig;
      animation-name:fadeOutDownBig;
  }
  .animated.modal.fadeInLeft.ng-leave {
      -webkit-animation-name:fadeOutLeft;
      animation-name:fadeOutLeft;
  }
  .animated.modal.fadeInLeftBig.ng-leave {
      -webkit-animation-name:fadeOutLeftBig;
      animation-name:fadeOutLeftBig;
  }
  .animated.modal.fadeInRight.ng-leave {
      -webkit-animation-name:fadeOutRight;
      animation-name:fadeOutRight;
  }
  .animated.modal.fadeInRightBig.ng-leave {
      -webkit-animation-name:fadeOutRightBig;
      animation-name:fadeOutRightBig;
  }
  .animated.modal.fadeInUp.ng-leave {
      -webkit-animation-name:fadeOutUp;
      animation-name:fadeOutUp;
  }
  .animated.modal.fadeInUpBig.ng-leave {
      -webkit-animation-name:fadeOutUpBig;
      animation-name:fadeOutUpBig;
  }

  .animated.modal.flipInX.ng-leave {
      -webkit-animation-name:flipOutX;
      animation-name:flipOutX;
  }
  .animated.modal.flipInY.ng-leave {
      -webkit-animation-name:flipOutY;
      animation-name:flipOutY;
  }

  .animated.modal.lightSpeedIn.ng-leave {
      -webkit-animation-name:lightSpeedOut;
      animation-name:lightSpeedOut;
  }

  .animated.modal.rotateIn.ng-leave {
      -webkit-animation-name:rotateOut;
      animation-name:rotateOut;
  }
  .animated.modal.rotateInDownLeft.ng-leave {
      -webkit-animation-name:rotateOutDownLeft;
      animation-name:rotateOutDownLeft;
  }
  .animated.modal.rotateInDownRight.ng-leave {
      -webkit-animation-name:rotateOutDownRight;
      animation-name:rotateOutDownRight;
  }
  .animated.modal.rotateInUpLeft.ng-leave {
      -webkit-animation-name:rotateOutUpLeft;
      animation-name:rotateOutUpLeft;
  }
  .animated.modal.rotateInUpRight.ng-leave {
      -webkit-animation-name:rotateOutUpRight;
      animation-name:rotateOutUpRight;
  }

  .animated.modal.slideInUp.ng-leave {
      -webkit-animation-name:slideOutDown;
      animation-name:slideOutDown;
  }
  .animated.modal.slideInDown.ng-leave {
      -webkit-animation-name:slideOutUp;
      animation-name:slideOutUp;
  }
  .animated.modal.slideInLeft.ng-leave {
      -webkit-animation-name:slideOutLeft;
      animation-name:slideOutLeft;
  }
  .animated.modal.slideInRight.ng-leave {
      -webkit-animation-name:slideOutRight;
      animation-name:slideOutRight;
  }

  .animated.modal.zoomIn.ng-leave {
      -webkit-animation-name:zoomOut;
      animation-name:zoomOut;
  }
  .animated.modal.zoomInDown.ng-leave {
      -webkit-animation-name:zoomOutDown;
      animation-name:zoomOutDown;
  }
  .animated.modal.zoomInLeft.ng-leave {
      -webkit-animation-name:zoomOutLeft;
      animation-name:zoomOutLeft;
  }
  .animated.modal.zoomInRight.ng-leave {
      -webkit-animation-name:zoomOutRight;
      animation-name:zoomOutRight;
  }
  .animated.modal.zoomInUp.ng-leave {
      -webkit-animation-name:zoomOutUp;
      animation-name:zoomOutUp;
  }

  .animated.modal.rollIn.ng-leave {
      -webkit-animation-name:rollOut;
      animation-name:rollOut;
  }
  .bg { background: url('../img/click.png') no-repeat center; }
  .ion-spinner-div{
      margin-left: 50%;
      margin-top: 50%;
  }
  .item-avatar i:first-child, .item-avatar .item-img {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 36px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;

    border-radius: 4px; }





@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500);

h1 {
  font: 200 60px Roboto;
  text-align: center;
}

p.credits {
  text-align: center;
  margin-top: 100px;
}

.credits img {
  border-radius: 50%;
  width: 100px;
}

.container {
  bottom: 0;
  position: fixed;
  margin: 1em;
  right: 0px;

}

.buttonsmd {
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18),
  0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: block;
  width: 56px;
  height: 56px;
  margin: 20px auto 0;
  position: relative;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
  background-color: #ef4e3a;
}


.buttonsmd:not(:last-child) {
  width: 40px;
  height: 40px;
  margin: 20px auto 0;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
}
.buttonsmd:not(:last-child) {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  margin: 15px auto 0;
}

/* Unessential styling for sliding up buttons at differnt speeds */

.buttonsmd:nth-last-child(1) {
  -webkit-transition-delay: 25ms;
  transition-delay: 25ms;
  background-image: url('/www/img/im.svg');
  background-size: contain;
}

.buttonsmd:not(:last-child):nth-last-child(2) {
  -webkit-transition-delay: 50ms;
  transition-delay: 20ms;
  background-image: url('/www/img/im.svg');
  background-size: contain;
}

.buttonsmd:not(:last-child):nth-last-child(3) {
  -webkit-transition-delay: 75ms;
  transition-delay: 40ms;
  background-image: url('/www/img/im.svg');
  background-size: contain;
}

.buttonsmd:not(:last-child):nth-last-child(4) {
  -webkit-transition-delay: 100ms;
  transition-delay: 60ms;
  background-image: url('/www/img/im.svg');
  background-size: contain;
}

